<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Caballero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento7</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Las hadas le contaron a Leo que, para derrotar al dragón y rescatar a la princesa, necesitaba una espada mágica que estaba oculta en una cueva secreta. Leo agradeció a las hadas por su valiosa información y se dirigió a la cueva. Allí, encontró la espada y se llenó de coraje. Con la espada mágica en mano, se enfrentó al dragón y lo derrotó, liberando a la princesa y devolviendo la paz al reino.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>