<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Conejo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>
    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Pom-pom siguió saltando y se encontró con una ardilla que estaba buscando comida para el invierno. La ardilla estaba triste porque no encontraba suficientes nueces. Pom-pom recordó las palabras del pececito y se ofreció a ayudar. Juntos, recolectaron montones de nueces y las llevaron al escondite de la ardilla. La ardilla estaba feliz y agradecida por la ayuda de Pom-pom. Desde ese día, Pom-pom y la ardilla se convirtieron en los mejores amigos, compartiendo aventuras y nueces en el prado.
        </div>
        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>