<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Ratón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Bella y el pajarito se dieron cuenta de que la pradera necesitaba ser protegida de los cazadores furtivos que amenazaban a los animales indefensos. Decidieron formar un equipo de vigilancia y alerta en la pradera. Juntos, patrullaron el área, asegurándose de que los cazadores furtivos no pudieran hacer daño a los animales. Su valentía y dedicación inspiraron a otros animales a unirse a su causa. Pronto, la pradera se convirtió en un lugar seguro y los cazadores furtivos desaparecieron. Bella y el pajarito se convirtieron en los guardianes de la paz y la seguridad de la pradera.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>