<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Ratón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Mientras Matías continuaba explorando, encontró una puerta secreta en la biblioteca que conducía a un jardín encantado. El jardín estaba lleno de flores coloridas y árboles frutales. Matías decidió llevar a todos los animales de la biblioteca al jardín para que pudieran disfrutar de su belleza y abundancia. Los animales se deleitaron con las frutas y se divirtieron jugando entre las flores. Desde ese día, la biblioteca se convirtió en un lugar mágico donde los animales encontraban alegría y paz.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>