<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>La Tortuga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Tommy se encontró con un viejo cangrejo sabio que le dijo que la llave dorada era la clave para abrir un cofre legendario en la cima de la montaña más alta. Lleno de emoción, Tommy emprendió un viaje épico escalando las empinadas montañas. Superó obstáculos y desafíos, pero finalmente llegó a la cima. Usando la llave, abrió el cofre y encontró un mapa que llevaba a un tesoro aún más grande y valioso. Tommy sabía que sus aventuras aún no habían terminado.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>