<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Elefante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento4.1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          A medida que Lilo y el cachorro de león crecían, se dieron cuenta de que muchos animales de la sabana estaban en peligro debido a la caza furtiva. Decidieron formar un equipo de protección de la vida silvestre y patrullar la sabana para detener a los cazadores furtivos. Juntos, lograron salvar a muchos animales de un destino trágico y establecieron un refugio seguro para todos los habitantes de la sabana. Lilo y el cachorro se convirtieron en valientes guardianes de la vida silvestre, asegurando que la sabana estuviera protegida para siempre.

        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>