<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Ratón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Mientras Matías exploraba la biblioteca, se encontró con un viejo mapa del tesoro. Siguiendo las pistas del mapa, llegó a un antiguo cofre escondido en el sótano de la biblioteca. Al abrirlo, encontró un montón de quesos deliciosos. Matías decidió compartir su tesoro con todos los animales de la biblioteca, creando una gran fiesta de queso. Los animales se divirtieron y agradecieron a Matías por su generosidad. Desde ese día, todos los animales de la biblioteca se unieron en una gran amistad.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>