<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Caballero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Las hadas le dieron a Leo una poción mágica que podía debilitar al dragón. Leo guardó la poción en su bolsa y continuó su camino hacia la torre. Al llegar, arrojó la poción al dragón, debilitándolo lo suficiente como para poder liberar a la princesa. Juntos, escaparon de la torre y regresaron al reino, donde fueron recibidos con alegría y gratitud.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>