<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Caballero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento7</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back_main()">volver</ion-button>
    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Había una vez un valiente caballero llamado Leo que vivía en un reino encantado. Leo era conocido por su nobleza y su espíritu aventurero. Un día, recibió una misión importante: rescatar a la princesa Isabella, que había sido secuestrada por un malvado dragón y estaba encerrada en lo más alto de una torre.

          Leo se preparó para su viaje y partió hacia el oscuro bosque donde se encontraba la torre. A medida que se adentraba en el bosque, escuchó un suave murmullo proveniente de un pequeño riachuelo. Se acercó y descubrió que el riachuelo estaba lleno de hadas mágicas. 
          </div>
      </div>

        <div class="space">
          <div class="separator"></div>
          <h2>¿Qué pasará?</h2>
          <div class="container-button">
            <div>
              <ion-button class="button1" (click)="op1c1()">Le contarán un secreto las hadas</ion-button>
              <ion-button class="button2" (click)="op1c2()">Usará poción mágica</ion-button>
              <ion-button class="button1" (click)="op1c3()">Las Hadas ayudarán a Leo</ion-button>
            </div>
          </div>
        </div>
    </div>
</ion-content>