<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>La Tortuga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Tommy decidió llevar la llave a su abuelo, quien era sabio y conocedor de los secretos del lago. Juntos, buscaron por todas partes hasta que encontraron una puerta antigua oculta en una cueva submarina. Con la llave, abrieron la puerta y descubrieron un mundo submarino asombroso lleno de peces multicolores y tesoros marinos. Tommy y su abuelo pasaron días explorando y aprendiendo de este nuevo mundo submarino.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>