<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Ratón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Un día, mientras jugaban en el bosque, Luna se perdió. Estaba asustada y no sabía cómo encontrar el camino de regreso a su hogar. Pero entonces, escuchó un suave chirrido a lo lejos. Era su familia, buscándola incansablemente. Luna se llenó de alegría al reunirse con ellos. A partir de ese día, aprendió la importancia de la unidad familiar y prometió nunca alejarse demasiado de sus seres queridos.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>