<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>La Abeja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back_main()">volver</ion-button>
    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Bella continuó volando por la pradera y encontró a una familia de erizos que estaba buscando un nuevo hogar. Los erizos estaban desesperados porque no podían encontrar un lugar seguro para vivir. Bella recordó las palabras de la mariposa y decidió ayudarlos. Los guió a una madriguera abandonada y los erizos se instalaron felizmente. A partir de ese día, Bella y los erizos se convirtieron en grandes amigos y juntos exploraron la pradera, cuidando de su hogar y ayudando a otros animales en problemas.
        </div>
      </div>

        <div class="space">
          <div class="separator"></div>
          <h2>¿Qué pasará?</h2>
          <div class="container-button">
            <div>
              <ion-button class="button1" (click)="op1c1()">Ayudarán a otros animales</ion-button>
              <ion-button class="button2" (click)="op1c2()">Se encontrarán una planta especial</ion-button>
              <ion-button class="button1" (click)="op1c3()">Restaurarán una zona de la pradera</ion-button>
            </div>
          </div>
        </div>
    </div>
</ion-content>