<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Elefante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento4.2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Un día, mientras exploraban, Lilo y el cachorro de león descubrieron un antiguo tesoro escondido en lo más profundo de la sabana. Era un manantial mágico que otorgaba vida y prosperidad a todos los seres que bebían de sus aguas. Con alegría, Lilo y el cachorro se convirtieron en guardianes de este tesoro y se aseguraron de que todos los animales pudieran disfrutar de sus beneficios. La sabana se llenó de salud y vitalidad, y Lilo y el cachorro se convirtieron en símbolos de esperanza y abundancia.

        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>