<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>La Abeja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back_main()">volver</ion-button>
    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Mientras Bella volaba por la pradera, vio a un pajarito que había perdido su nido durante una tormenta. El pajarito estaba triste y no tenía dónde refugiarse. Bella recordó las palabras de la mariposa y decidió ayudarlo. Juntas, buscaron ramitas y hojas secas para construir un nuevo nido en un árbol seguro. El pajarito se sintió aliviado y agradecido por la ayuda de Bella. A partir de ese día, Bella y el pajarito se convirtieron en grandes amigos, compartiendo canciones y vuelos por la pradera.
        </div>
      </div>

        <div class="space">
          <div class="separator"></div>
          <h2>¿Qué pasará?</h2>
          <div class="container-button">
            <div>
              <ion-button class="button1" (click)="op1c1()">Ayudarán a los animales</ion-button>
              <ion-button class="button2" (click)="op1c2()">Se encontrarán una fuenta mágica</ion-button>
              <ion-button class="button1" (click)="op1c3()">Protegerán la pradera</ion-button>
            </div>
          </div>
        </div>
    </div>
</ion-content>