<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Ratón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Mientras exploraban la pradera, Bella y el ratoncito encontraron un misterioso mapa que indicaba la ubicación de un tesoro escondido. Emocionados por la aventura, se embarcaron en un viaje lleno de desafíos y pistas. Juntos, superaron obstáculos, resolvieron acertijos y finalmente descubrieron el tesoro: una joya mágica que concedía deseos. Bella y el ratoncito utilizaron el deseo para traer prosperidad y felicidad a todos los habitantes de la pradera, convirtiéndola en un lugar aún más especial.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>