<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Ratón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Matías continuó explorando la biblioteca y se encontró con un libro mágico. Al abrirlo, una nube de polvo dorado envolvió a Matías y lo convirtió en un ratón volador. Emocionado por su nueva habilidad, voló por la biblioteca y vio a una familia de ratones atrapados en una trampa. Matías, con su nuevo poder, los liberó y juntos crearon una sociedad de ratones voladores. Desde ese día, los ratones exploraron el mundo desde las alturas y vivieron aventuras increíbles.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>