<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Ratón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back_main()">volver</ion-button>
    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Había una vez un pequeño ratoncito llamado Matías que vivía en un acogedor agujero dentro de una vieja biblioteca. Matías era muy curioso y siempre estaba buscando aventuras. Un día, mientras exploraba los estantes de libros, escuchó un sonido de llanto. Siguió el sonido hasta que encontró a un gatito perdido. Matías decidió ayudarlo y con su agudo olfato lo guió de regreso a su dueño. El gatito, agradecido, le dijo que si alguna vez necesitaba ayuda, estaría allí para él.
        </div>
      </div>

        <div class="space">
          <div class="separator"></div>
          <h2>¿Qué pasará?</h2>
          <div class="container-button">
            <div>
              <ion-button class="button1" (click)="op1c1()">Se encontrará un libro mágico</ion-button>
              <ion-button class="button2" (click)="op1c2()">Se encontrará un viejo mapa del tesoro</ion-button>
              <ion-button class="button1" (click)="op1c3()">Se encontrará una puerta secreta</ion-button>
            </div>
          </div>
        </div>
    </div>
</ion-content>