<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Ratón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Bella y los erizos descubrieron que otros animales también necesitaban refugio. Decidieron construir más madrigueras y crearon una comunidad segura y acogedora para todos los animales de la pradera. Juntos, trabajaron arduamente para proteger su hábitat de los peligros y formaron un equipo de guardabosques de la naturaleza. La pradera floreció con la presencia de Bella y los erizos, y se convirtió en un refugio para todos los seres vivos.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>