<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Conejo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>
    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Mientras Pom-pom continuaba saltando por el prado, se encontró con un pequeño pajarito con el ala herida. El pajarito no podía volar y se sentía triste. Pom-pom recordó las palabras del pececito y decidió ayudar. Buscó hojas y ramitas para hacer un pequeño vendaje en el ala del pajarito. Con mucho cuidado, Pom-pom aseguró el vendaje y el pajarito comenzó a sentirse mejor. El pajarito le agradeció a Pom-pom y, a partir de ese día, se convirtieron en compañeros inseparables, volando juntos por el prado y descubriendo nuevos lugares.
        </div>
        <h1 style="text-align: center;">FIN</h1>
      </div>

      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>