<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Ratón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Un día, mientras Bella y el pajarito volaban por la pradera, descubrieron una fuente mágica escondida entre las flores. El agua de la fuente tenía poderes curativos y rejuvenecedores. Decidieron compartir este tesoro con los demás animales de la pradera. Bella y el pajarito se convirtieron en guardianes de la fuente, asegurándose de que todos los animales pudieran beber de sus aguas curativas. Gracias a su generosidad, la pradera se llenó de salud y vitalidad, y todos los habitantes vivieron felices y en armonía.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>