<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>La Tortuga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Tommy decidió guardar la llave en un lugar seguro y esperar pacientemente para descubrir su verdadero propósito. Los días pasaron y Tommy siguió con su vida diaria en el lago. Un día, mientras exploraba un pequeño islote, se encontró con una tortuga solitaria llamada Tara. Se hicieron amigos rápidamente y juntos comenzaron a descubrir la belleza y los secretos del lago. Tommy se dio cuenta de que el verdadero tesoro estaba en las amistades y experiencias compartidas.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>