<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>La Niña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          La concha marina tenía el poder de transmitir mensajes de amor y felicidad. Emma y su familia decidieron llevarla consigo siempre que salieran de viaje. Cada vez que encontraban a alguien triste o desanimado, le enviaban un mensaje positivo a través de la concha. De esta manera, ayudaron a difundir el amor y la alegría a lo largo de su camino, creando sonrisas y haciendo que el mundo fuera un lugar mejor.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>