<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>La Abeja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back_main()">volver</ion-button>
    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Había una vez una pequeña abeja llamada Bella que vivía en una hermosa pradera llena de flores. Bella era muy trabajadora y siempre se dedicaba a recolectar néctar para hacer miel. Su colmena estaba ubicada en un gran árbol, y desde allí exploraba cada rincón de la pradera, llevando consigo el zumbido alegre y el dulce aroma de las flores. Siempre estaba rodeada de compañeras abejas, pero Bella anhelaba hacer amigos fuera de su colmena.

          Un día, mientras volaba de flor en flor, vio a una mariposa atrapada en una telaraña. La mariposa batía sus alas desesperadamente, tratando de liberarse sin éxito. Bella sintió una profunda compasión y decidió ayudarla. Con su aguijón hábil, cortó cuidadosamente los hilos de la telaraña y liberó a la mariposa. La mariposa, agradecida, desplegó sus alas coloridas y se posó en una flor cercana. "Gracias, Bella", dijo la mariposa. "Si alguna vez necesitas ayuda, estaré allí para ti".
        </div>
      </div>

        <div class="space">
          <div class="separator"></div>
          <h2>¿Qué pasará?</h2>
          <div class="container-button">
            <div>
              <ion-button class="button1" (click)="op1c1()">Se encontrará una familia de erizos</ion-button>
              <ion-button class="button2" (click)="op1c2()">Se encontrará un ratoncito</ion-button>
              <ion-button class="button1" (click)="op1c3()">Se encontrará un pajarito</ion-button>
            </div>
          </div>
        </div>
    </div>
</ion-content>