<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Ratón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Bella y el ratoncito descubrieron que muchos otros animales también necesitaban ayuda y protección. Juntos, decidieron formar un equipo de rescate en la pradera. Ayudaron a los animales heridos, rescataron a los que estaban en peligro y promovieron la convivencia pacífica entre las distintas especies. Con su valentía y determinación, Bella y el ratoncito se convirtieron en héroes de la pradera, ganándose el respeto y la admiración de todos los habitantes del lugar.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>