<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Ratón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Bella y los erizos se dieron cuenta de que había una zona de la pradera que necesitaba ser restaurada. Un incendio había arrasado con la vegetación y dejado a muchos animales sin hogar. Con su ingenio y trabajo en equipo, Bella y los erizos comenzaron a plantar semillas y cuidar de las nuevas plantas que crecían. Pronto, la pradera se transformó en un exuberante y vibrante paisaje. Los animales regresaron a su hogar y la pradera se convirtió en un símbolo de esperanza y renovación.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>