<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Caballero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Las hadas le ofrecieron su ayuda y lo acompañaron en su misión. Con sus poderes mágicos, crearon un escudo protector a su alrededor mientras se enfrentaban al dragón. Trabajando en equipo, Leo y las hadas lograron derrotar al dragón y rescatar a la princesa. Juntos, regresaron al reino, donde fueron aclamados como héroes y celebrados con una gran fiesta en su honor.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>