<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Elefante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento4.3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Lilo y el cachorro de león se encontraron con un grupo de animales que estaban siendo desplazados de su hogar debido a la deforestación. No podían permitir que eso sucediera, así que lideraron una campaña para proteger los árboles y evitar la destrucción de la selva. Juntos, organizaron protestas pacíficas y trabajaron con las autoridades para crear áreas protegidas. Gracias a sus esfuerzos, lograron detener la deforestación y preservar el hábitat de todos los animales de la sabana. Lilo y el cachorro se convirtieron en los héroes de la selva, garantizando un futuro mejor para todos.
          </div>
        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>