<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>La Niña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back_main()">volver</ion-button>
    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Había una vez una niña llamada Emma que vivía en una pequeña casa junto al mar. Emma era muy aventurera y le encantaba explorar la playa en busca de tesoros. Pero lo que más valoraba era su maravillosa familia, conformada por su mamá, su papá y su abuelito.

          Un día, mientras paseaba por la orilla del mar, Emma encontró una concha marina muy especial. La concha parecía tener un brillo mágico. Decidió llevarla a casa y mostrarla a su familia. Todos quedaron asombrados por su belleza y decidieron investigar más sobre ella.  
          </div>
      </div>

        <div class="space">
          <div class="separator"></div>
          <h2>¿Qué pasará?</h2>
          <div class="container-button">
            <div>
              <ion-button class="button1" (click)="op1c1()">Se cumplirán deseos</ion-button>
              <ion-button class="button2" (click)="op1c2()">Se abrirá un portal mágico</ion-button>
              <ion-button class="button1" (click)="op1c3()">Transmitirá mensajes</ion-button>
            </div>
          </div>
        </div>
    </div>
</ion-content>