<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Ratón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back()">volver</ion-button>

    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Bella y el pajarito se dieron cuenta de que muchos otros animales también necesitaban refugio y protección. Juntos, decidieron construir casitas y nidos para aquellos que no tenían un hogar. Trabajaron incansablemente, invitando a otros animales a unirse a ellos en esta misión. Pronto, la pradera se llenó de coloridas casitas y nidos, y todos los animales encontraron un lugar seguro para vivir. Bella y el pajarito se convirtieron en los guardianes de los hogares de la pradera y su amistad se fortaleció aún más.
        </div>

        <h1 style="text-align: center;">FIN</h1>
      </div>
      <div class="space">
        <div class="separator"></div>
        <div class="container-button">
          <div>
            <ion-button class="button1" (click)="back_main()">
              volver al inicio
            </ion-button>
        </div>
      </div>
    </div>
  </div>
    
       
  

  
</ion-content>