<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>El Elefante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuento4</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="back_main()">volver</ion-button>
    <div class="container" id="container1">
      <div class="container-text">
        <div class="text">
          Había una vez un elefante llamado Lilo que vivía en la sabana africana. Lilo era un elefante curioso y aventurero que siempre estaba buscando nuevas experiencias. Un día, mientras exploraba cerca de un río, escuchó un débil llanto. Siguiendo el sonido, encontró a un pequeño cachorro de león atrapado en un pozo profundo. Con su gran trompa, Lilo comenzó a llenar el pozo con agua del río, pero el cachorro aún no podía salir. Con ingenio, Lilo encontró una rama y le indicó al cachorro que la agarrara con sus dientes. Juntos, lograron liberar al cachorro y desde ese día, Lilo y el cachorro de león se convirtieron en los mejores amigos, compartiendo emocionantes aventuras en la vasta sabana africana.
        </div>
      </div>

        <div class="space">
          <div class="separator"></div>
          <h2>¿Qué pasará?</h2>
          <div class="container-button">
            <div>
              <ion-button class="button1" (click)="op1c1()">Se defenderá de la caza furtiva</ion-button>
              <ion-button class="button2" (click)="op1c2()">Se encontrará un antiguo tesoro</ion-button>
              <ion-button class="button1" (click)="op1c3()">Habrá una deforestación</ion-button>
            </div>
          </div>
        </div>
    </div>
</ion-content>